body {
  .header {
    background: #778899;
    box-shadow: 0px 1px 0px #d0d0d0, 0px 2px 0px #b5b5b5;
    height: 90px;
    position: relative;
    .logo {
      height: 90px;
      padding: 10px;
      img {
        height: 100%;
      }
    }
  }
  .post {
    height: 250px;
    background: #f7f7f7;
    padding: 1%;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 7px #dedede;
    .post-header {
      height: 22px;
      margin-bottom: 4px;
      border-bottom: 1px #dedede solid;
      .post-name {
        float: left;
        span {
          font-size: 16px;
          color: #5288d0;
          font-style: normal;
        }
      }
      .post-age {
        float: right;
        span {
          font-size: 16px;
          color: #5288d0;
          font-style: normal;
          &:before {
            content: "Age:";
            margin-right: 4px;
            color: #868686;
            font-size: 11px;
          }
        }
      }
    }
    .post-avatar {
      width: 100%;
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

